# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\azad\covid 19\covid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
